input {
    border-radius: 5px;
    border: 1px solid #DDD;
    padding: 5px;
    width: 80%;
    margin: auto;
    font-size: 15px;
    max-height: 2em;
}
* {
    font-family: arial;
}
.wall{
    
  background-color: #EEE;  
 

}
h3{
    color: #AAA;
    font-family: arial;
    font-size: 1.17em;
    font-weight: bold;
}
.webwell {
    background-image: linear-gradient(#EEE,#FFF);
    margin: 10px 0;
    padding: 20px;
    width: 80%; width: 80%;
    margin: auto;
    font-size: 15px;
    max-height: 2em;
}
input{
    width: 100%;
}
header.container {
    color: #AAA;
    padding: 20px;
    border-bottom: 1px solid black;
    font-size: 25px;
}
h6{
    color: gray;
}